@font-face {
  font-family: 'Montserrat';
  font-weight: bold;
  src: url('/fonts/Montserrat-Bold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: normal;
  src: url('/fonts/Montserrat-Regular.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  src: url('/fonts/Montserrat-SemiBold.ttf');
}
@font-face {
  font-family: 'Montserrat';
  font-weight: medium;
  src: url('/fonts/Montserrat-Medium.ttf');
}




body {
    margin: 0;
    padding: 0;
    background-image: url('/brnoBackground2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #12110F;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 100;
    font-size: 18px;
  }

  h1 {
    margin-left: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
}

h2 {
    margin-left: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 50px;
}

h3 {
    margin-left: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
}